:root {
    --dark : rgb(18, 25, 52);
    --orange : rgb(255, 154, 45);
    --greenBlue : rgb(175, 214, 230);
    --darkerBlue : rgb(126, 175, 239);
    --blue: rgb(50, 55, 119);

}


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
    background-color: rgb(18, 25, 52);
}


.container {
    width: 95vmin;
    margin: 0 auto;

}

#nav-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: rgb(0, 25, 52, 1);
    width: 100%;
    height: 7vmin;
    gap: 5vmin;
    justify-content: left;
    align-items: center;
    padding: 1vmin 0;

}

/* div holding education etc */
#links {
    margin-left: 52vmin;
    display: flex;
    flex-direction: row;
    gap: 5vmin;
    text-align: center;
    /* margin: 0 auto; */
}
#nav-bar > a {
    color: white;
    text-decoration: none;
}


/* education, experience, projects */
#nav-bar > #links > a {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
}


/*  FIRST SECTION */
#welcomeDiv {
    color: white;
    display: flex;
    padding-top: 15vmin;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5vmin;
}

#imgDiv {
    width: 80vmin;
    height: 80vmin;
    margin-right: 20vmin;
}

#imgDiv > img {
    width: 80vmin;
    height: 70vmin;
}

#nameDiv {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    justify-content: start;
    padding-top: 9vmin;
    margin-left: 20vmin;
}

#nameDiv > h1 {
    font-size: 8vmin;
}

#nameDiv > h2 {
    font-size: 4vmin;
    margin-bottom: 1vmin;
}

#nameDiv > p {
    color: rgb(194, 193, 193);
    font-size: 2.2vmin;
}

#nameDiv > button {
    width: 14vmin;
    border-radius: 500px;
    background-color: var(--greenBlue);
    border: none;
    color: var(--dark);
    padding: 1vmin;
    font-weight: bolder;
    font-size: 1.8vmin;
    letter-spacing: 1px;
    margin-top: 1vmin;
}


/* ABOUT ME SECTION  */
#aboutMeTitle {
    color: white;
    text-align: center;
    margin-bottom: 5vmin;
    font-size: 4vmin;
}

#aboutMe {
    display: flex;
    gap: 10vmin;
}

#imgCard {
    background-color: var(--blue);
    width: 35vmin;
    border-radius: 10px;
    height: 43vmin;

}

#imgCard > div > * {
color: white;
font-size: 2.2vmin;
background-color: var(--blue);
text-align: center;
}

#imgCard > div > h2 {
    padding-top: 1vmin;
}

#imgCard > div > p {
    font-size: 2vmin;
}

#imgCard > img {
   width: 35vmin;
   border-radius: 10px 10px 0 0;
}

#bio > p {
    color: white;
    font-size: 2.2vmin;
}

/* My Work */

#myWorkTitle {
    color: white;
    text-align: left;
    font-size: 8vmin;
}

#myWorkDiv {
    color: white;
    display: flex;
    padding-top: 15vmin;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}

#work {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    justify-content: start;
    padding-top: 9vmin;
    margin-left: 20vmin;
}

#workExample {
    margin-right: 40vmin;
    padding-top: 14vmin;
}

#workExample > img {
    width: 50vmin;
}

/* Projects */

#projectDiv {
    display: flex;
    gap: 10vmin;  
    justify-content: center;
    margin-top: 10vmin;
    /* background-color: gray; */
}

.project-divs {
    width: 34vmin;
    height: 40vmin;
    background-color: var(--blue);
    border-radius: 5px;
    overflow: hidden;
}

.project-divs > h3 {
    color:white;
    background-color: var(--blue);
    height: 3vmin;
    padding-top: 1vmin;
    margin-left: 2vmin;
    /* border-radius: 0 0 5px 5px; */
}

.project-divs > h4 {
    color:white;
    background-color: var(--blue);
    height: 3vmin;
    border-radius: 0 0 5px 5px;
    margin-left: 2vmin;
    padding-bottom: 1vmin;
}

.img-parent {
    width: 34vmin;
    background-color: var(--blue);
    /* border-radius: 5px; */
    overflow: hidden;
}

.project-divs > .img-parent > img {
    width: 100%;
    height: 32vmin;
    border-radius: 5px 5px 0 0;
    transition: 0.5s all ease-in-out;
}


.project-divs:hover .project-img {
    transform: scale(1.1);
}