:root {
    --dark : rgb(18, 25, 52);
    --orange : rgb(255, 154, 45);
    --greenBlue : rgb(175, 214, 230);
    --darkerBlue : rgb(126, 175, 239);
    --blue: rgb(50, 55, 119);

}


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
    background-color: var(--dark);
}


.container {
    width: 95vmin;
    margin: 0 auto;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--dark);
    width: 100%;
    height: 7vmin;
    justify-content: right;
    align-items: center;
}



#nav-bar > div > a:hover {
    transform: rotate(1deg);
}


#resumeSpan {
    border: 1px solid var(--greenBlue);
    /* padding: .5vmin; */
    border-radius: 5px;
    color: var(--greenBlue);
}

#resumeSpan:hover {
    color: var(--dark);
    border: 1px solid var(--dark);
    background-color: var(--greenBlue);
}




/* div holding education etc */
#links {
    display: flex;
    flex-direction: row;
    gap: 5vmin;
    text-align: center;
    margin-right: 35vmin;
}

#nav-bar > a {
    color: white;
    text-decoration: none;
    font-size: 2.5vmin;
}

#nav-bar > #links > a {
    color: white;
    text-decoration: none;
    font-size: 2.5vmin;
}

 @media only screen and (max-width: 1200px){ */
    #nav-bar {
        display: flex;
        flex-direction: row;
        
        background-color: var(--dark);
        width: 100%;
        height: 7vmin;
        gap: 5vmin;
        justify-content: right;
        align-items: center;
        padding: 1vmin;
    }

    #links {
        margin-right: 55vmin;
    }
} 

@media only screen and (max-width: 760px){
    #nav-bar {
        padding-top: 2vmin;
    }

    #links {
        margin-right: 5vmin;
    }

    #nav-bar > a {
        font-size: 3.5vmin;
    }
    
    #nav-bar > #links > a {
        font-size: 3.5vmin;
    }
}


@media only screen and (max-width: 480px){
    #nav-bar {
        padding-top: 2vmin;
    }

    #links {
        margin-right: 5vmin;
    }

    #nav-bar > a {
        font-size: 3.5vmin;
    }
    
    #nav-bar > #links > a {
        font-size: 3.5vmin;
    }
}


/*  FIRST SECTION */


#welcomeDiv {
    color: white;
    display: flex;
    padding-top: 11vmin;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    /* padding-bottom: 5vmin; */
}

#imgDiv {
    width: 80vmin;
    height: 80vmin;
    margin-right: 20vmin;
}

#imgDiv > img {
    width: 80vmin;
    height: 70vmin;
}

#nameDiv {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    justify-content: start;
    padding-top: 9vmin;
    margin-left: 20vmin;
}

#nameDiv > h1 {
    font-size: 8vmin;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#nameDiv > h2 {
    font-size: 4vmin;
    margin-bottom: 1vmin;
    animation: fadeIn 2s;
    animation-delay: 1s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

#nameDiv > p {
    color: rgb(194, 193, 193);
    font-size: 2.2vmin;
    animation-name: fadeInStill;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0, -2vmin)
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0vmin)
    }
}

@keyframes fadeInStill {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#nameDiv > button {
    width: 14vmin;
    border-radius: 500px;
    background-color: var(--orange);
    border: none;
    color: var(--dark);
    padding: 1vmin;
    font-weight: bolder;
    font-size: 1.8vmin;
    letter-spacing: 1px;
    margin-top: 1vmin;
}

#mail {
    /* transform: rotate(25deg); */
    width: 20vmin;
    margin-left: 30vmin;
    margin-top: 25vmin;
    animation-delay: 3s;
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    opacity: 0;
}

#mail:hover {
    cursor: pointer;
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(5vmin, -20vmin) rotate(20deg);
        
    }
}

@media only screen and (max-width: 760px){

    #welcomeDiv {
        padding-top: 10vmin;
    }

    #imgDiv {
        width: 60vmin;
        height: 80vmin;
        margin-right: 10vmin;
    }

    #imgDiv > img {
        margin-top: 8vmin;
        width: 100%;
        height: 50vmin;
        margin-left: 0vmin;
    }

    #nameDiv {
        margin-left: 5vmin;
    }

    #nameDiv > h1 {
        font-size: 9vmin;
        /* width: 30vmin; */
    }
    
    #nameDiv > h2 {
        font-size: 5vmin;
    }

}

@media only screen and (max-width:480px){

#welcomeDiv {
    padding-top: 10vmin;
}

#imgDiv {
    width: 80vmin;
    height: 80vmin;
    margin-right: 20vmin;
}

#imgDiv > img {
    margin-top: 11vmin;
    width: 45vmin;
    height: 45vmin;
    margin-left: 0vmin;
}

#nameDiv {
    margin-left: 5vmin;
}

#nameDiv > h1 {
    font-size: 9vmin;
    width: 50vmin;
}

#nameDiv > h2 {
    font-size: 5vmin;
    margin-bottom: 2vmin;
}

#nameDiv > p {
    color: rgb(194, 193, 193);
    font-size: 3.2vmin;
}






@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(12vmin, -20vmin) rotate(20deg);
        
    }
}


}







/* ABOUT ME SECTION  */

#aboutMe {
    display: flex;
    gap: 10vmin;
    width: 95vmin;
}

#imgCard {
    /* background-color: var(--blue); */
    width: 35vmin;
    border-radius: 10px;
    height: 43vmin;

}

#imgCard > div > * {
color: white;
font-size: 2.2vmin;
/* background-color: var(--blue); */
text-align: center;
}

#imgCard > div > h2 {
    padding-top: 1vmin;
}

#imgCard > div > p {
    font-size: 2vmin;
}


#imgCard > img {
   width: 35vmin;
   border-radius: 10px;
}

#bio {
    width: 60vmin;
}
#bio > p {
    color: white;
    font-size: 2.2vmin;
}

.spanStyle {
    color: var(--greenBlue);
    font-weight: bold;
    letter-spacing: .6px;
}

@media only screen and (max-width: 480px){

#aboutMe {
    gap: 5vmin;
}

#imgCard {
    width: 25vmin;
    height: 50vmin;
}

#imgCard > img {
    width: 25vmin;
    border-radius: 10px;
 }
 

#bio {
    width: 65vmin;
}
#bio > p {
    color: white;
    font-size: 3.2vmin;
    padding-bottom: 5vmin;
}

.spanStyle {
    color: var(--greenBlue);
    font-weight: bold;
    letter-spacing: .6px;
}
}






/* My Work / WHAT I HAVE BEEN UP TO / Projects ETC*/

#myWorkTitle {
    color: white;
    text-align: center;
    /* margin: 0 auto; */
    font-size: 8vmin;
    width: 100%;
    padding-top: 10vmin;
    /* margin-left: 5vmin; */
}



.hidden {
    opacity: .2;
}

@keyframes fadeEnter {
    0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (prefers-reduced-motion: no-preference) {
    .fadeAnimation {
      animation: fadeEnter 3s 1;
      animation-fill-mode: forwards;
    }
  }




@media only screen and (max-width: 760px){
    #myWorkTitle {
        text-align: center;
        margin: 0 auto;
    }


}


@media only screen and (max-width: 480px){
    #myWorkTitle {
        text-align: center;
    }


}















/* Project Section */

#projectDiv {
    display: flex;
    gap: 10vmin;  
    justify-content: center;
    margin-top: 10vmin;
    /* background-color: gray; */
}

#projectDiv > a {
    text-decoration: none;
}

.project-divs {
    width: 37vmin;
    height: 46.5vmin;
    background-color: var(--blue);
    border-radius: 5px;
    overflow: hidden;
}

.project-divs > h3 {
    color:white;
    background-color: var(--blue);
    height: 3vmin;
    padding-top: 1vmin;
    margin-left: 2vmin;
    font-size: 2.5vmin;
    /* border-radius: 0 0 5px 5px; */
}

.project-divs > h4 {
    color:white;
    background-color: var(--blue);
    height: 3vmin;
    border-radius: 0 0 5px 5px;
    margin-left: 2vmin;
    padding-bottom: 1vmin;
    font-size: 2vmin;
}

.img-parent {
    width: 37vmin;
    background-color: var(--blue);
    overflow: hidden;
}

.project-divs > .img-parent > img {
    width: 100%;
    height: 32vmin;
    border-radius: 5px 5px 0 0;
    transition: 0.5s all ease-in-out;
}


.project-divs:hover .project-img {
    transform: scale(1.1);
}

.icons {
    background-color: var(--blue);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: .5vmin;
}

.icons > img {
  background-color: var(--blue);
  fill: white;
  color: white;
  height: 3.5vmin;
 
}

@media only screen and (max-width: 760px){
    #projectDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10vmin;  
    margin: 0 7vmin;
    justify-content: center;
    margin-top: 10vmin;
    justify-items: center;
    }

    #projectDiv > a {
        text-decoration: none;
    }
    
    .project-divs {
        width: 37vmin;
        height: 46.5vmin;
        background-color: var(--blue);
        border-radius: 5px;
        overflow: hidden;
    }
}







/* Experience */

#experienceTitle {
    color: white;
    font-size: 8vmin;
    text-align: center;
    padding-top: 25vmin;
    padding-bottom: 5vmin;
}

#experienceDiv {
color: white;
padding-top: 6vmin;
}

#cofc {
    display: flex;
    flex-direction: row;
    gap: 1vmin;
    align-items: end;
    text-align: left;
    background-color: var(--blue);
    width: 50vmin;
    margin: 0 auto 10vmin auto;
    border-radius: 5px;
    height: 10vmin;
}

#cofc > * {
    background-color: var(--blue);
    /* border-radius: 5px; */
}

#cofc > h1 {
    padding-bottom: .5vmin;
}

#cofc > p {
    padding-bottom: .5vmin;
    
}

#cofc > img {
    width: 15vmin;
    border-radius: 10px 0 0 10px;
    height: 100%;
}

#arrow1 {
    transform: scaleX(-1) rotate(50deg);
    width: 40vmin;
    margin-left: 25vmin;
    margin-top: -10vmin;
}

#smallTextPath {
    font-size: 1vmin;
    width: 9vmin;
    margin-left: -3vmin;
   padding: .5vmin;
}

#smallTextPath > p {
    background-color: var(--blue);
}


#teaching {
    display: flex;
    flex-direction: row;
    gap: 2vmin;
    align-items: end;
    text-align: left;
    border-radius: 5px;
    background-color: var(--blue);
    width: 50vmin;
    margin-top: 15vmin;
    margin-left: 20vmin;
    height: 10vmin;
}

#teaching > h1 {
    background-color: var(--blue);
    padding-bottom: .5vmin;
}

#teaching > p {
    background-color: var(--blue);
    padding-bottom: .5vmin;
}

#teaching > img {
    width: 15vmin;
    border-radius: 10px 0 0 10px;
    height: 100%;
    background-color: var(--blue);
}

#arrow2 {
    transform: rotate(50deg);
    width: 40vmin;
    margin-left: 75vmin;
    margin-top: 0vmin;
}

#generalAssembly {
    display: flex;
    background-color: var(--blue);
    flex-direction: row;
    gap: 2vmin;
    align-items: end;
    text-align: left;
    border-radius: 5px;
    width: 50vmin;
    margin: 0 auto;
    margin-left: 120vmin;
    height: 10vmin;
}

#generalAssembly > h1 {
    background-color: var(--blue);
    font-size: 2.5vmin;
    padding-bottom: .5vmin;
}

#generalAssembly > p {
    background-color: var(--blue);
    padding-bottom: .5vmin;
}

#generalAssembly > img {
    border-radius: 10px 0 0 10px;
    width: 10vmin;
    height: 100%;
    background-color: var(--blue);
}


#selfTaught > img {
    width: 10vmin;
}


#arrow3 {
    transform: scaleX(-1) rotate(15deg);
    width: 20vmin;
    margin-left: 115vmin;
    margin-top: 10vmin;
}

#connectTitle {
    text-align: center;
    margin: 5vmin 0;
    font-size: 8vmin;
}


/* Not bad for now but needs fixed */
@media only screen and (max-width: 760px){


    #experienceDiv {
        padding-top: 12vmin;
    }
    
    #cofc, #teaching, #generalAssembly {
        display: flex;
        flex-direction: row;
        gap: 2vmin;
        text-align: left;
        background-color: var(--blue);
        border-radius: 5px;
        height: 25vmin;
        width: 90%;
        margin-left: 5vmin;
        margin-right: 5vmin;
    }
    
    
    #cofc > h1, #teaching > h1, #generalAssembly > h1 {
        height: 90%;
        font-size: 4.5vmin;
    }
    
    #cofc > p, #teaching > p, #generalAssembly > p {
        height: 90%;
        font-size: 2.5vmin;
    }
    
    #cofc > img, #teaching > img, #generalAssembly > img {
        width: 25vmin;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
    
    #arrow1 {
        transform: scaleX(-1) rotate(90deg);
        width: 25vmin;
        margin-left: 15vmin;
        margin-top: 5vmin;
        opacity: 1;
    }

    #arrow2 {
        transform: rotate(20deg) scaleY(-1);
        width: 30vmin;
        margin-left: 35vmin;
        margin-top: 10vmin;
        margin-bottom: 10vmin;
    }

    #arrow3 {
        transform: rotate(100deg);
        width: 20vmin;
        margin-left: 55vmin;
        margin-top: 10vmin;
        margin-bottom: 5vmin;
    }

    #smallTextPath {
        font-size: 2vmin;
        width: 9vmin;
        margin-left: -3vmin;
       padding: .5vmin;
       background-color: var(--blue);
    }
    
    #smallTextPath > p {
        background-color: var(--blue);
    }
}


@media only screen and (max-width: 480px){


    #experienceDiv {
        padding-top: 12vmin;
    }
    
    #cofc, #teaching, #generalAssembly {
        display: flex;
        flex-direction: row;
        gap: 2vmin;
        text-align: left;
        background-color: var(--blue);
        border-radius: 5px;
        height: 25vmin;
        width: 90%;
        margin-left: 5vmin;
        margin-right: 5vmin;
    }
    
    
    #cofc > h1, #teaching > h1, #generalAssembly > h1 {
        height: 90%;
        font-size: 4.5vmin;
    }
    
    #cofc > p, #teaching > p, #generalAssembly > p {
        height: 90%;
        font-size: 2.5vmin;
    }
    
    #cofc > img, #teaching > img, #generalAssembly > img {
        width: 25vmin;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
    
    #arrow1 {
        transform: scaleX(-1) rotate(90deg);
        width: 25vmin;
        margin-left: 15vmin;
        margin-top: 5vmin;
        opacity: 1;
    }

    #arrow2 {
        transform: rotate(20deg) scaleY(-1);
        width: 30vmin;
        margin-left: 35vmin;
        margin-top: 10vmin;
        margin-bottom: 10vmin;
    }

    #arrow3 {
        transform: rotate(100deg);
        width: 20vmin;
        margin-left: 55vmin;
        margin-top: 10vmin;
        margin-bottom: 5vmin;
    }

    #smallTextPath {
        font-size: 2vmin;
        width: 9vmin;
        margin-left: -3vmin;
       padding: .5vmin;
       background-color: var(--blue);
    }
    
    #smallTextPath > p {
        background-color: var(--blue);
    }
}










/* FOOTER */
#contact {
    display: flex;
    justify-content: center;
    gap: 2vmin;
    padding-top: 5vmin;
    background-color: var(--greenBlue);
    padding-bottom: 10vmin;
}

#footerTitle {
    text-align: center;
    padding-top: 5vmin;
    font-size: 6vmin;
    /* color: var(--blue); */
}

#footer > * {
    background-color: var(--greenBlue);
}

#footer > h2 {
    text-align: center;
    padding-top: 1vmin;
}

#contact > a {
    text-decoration: none;
    background-color: var(--greenBlue);
}

#contact > a > svg {
    background-color: var(--greenBlue);
    width: 10vmin;
    height: 10vmin;
    text-decoration: none;
}

#contact > svg:hover {
    cursor: pointer;
    transform: rotate(2deg);
}

#contact > a:hover {
    cursor: pointer;
    transform: rotate(2deg);
}

.imgFooter {
    width: 10vmin;
    height: 10vmin;
}

#resumeSpanFooter {
    background-color: var(--greenBlue);
    border: 1px solid var(--dark);
    padding: .5vmin;
    border-radius: 5px;
    height: 3.5vmin;
    font-size: 3vmin;
    text-decoration: none;
}

#resumeSpanFooter:hover {
    color: var(--greenBlue);
    background-color: var(--dark);
}

#anchorResume {
    text-decoration: none;
    color: var(--dark);
    background-color: var(--greenBlue);
    padding-top: 3vmin;
}


#profile-link {
    text-decoration: none;
    background-color: var(--greenBlue);
   
}

#profile-link > img {
    text-decoration: none;
    background-color: var(--greenBlue);
    color: var(--greenBlue);
}

#social-message {
    margin-top: 10vmin;
    text-align: center;
}

